#upcoming {
  background: #313131 url(../img/photo.jpg) no-repeat center;
  color: white;
  margin: 0 auto;
}

.article-wrapper {
  display: inline-block;
  margin: 0 auto;
  max-width: 60em;
}

#upcoming h2, #past h2 {
  text-transform: uppercase;
  font-size: .8em;
  margin: 0;
  padding: 1.4em 0;
  font-weight: 200;
}

#past time {
  font-size: 0.9em;
  display: block;
  margin: 0.9em 0;
}

#past time:before, #past time:after {
  content: "–";
  font-weight: bold;
  color: #9BC236;
}

#past time:before { padding-right: .5em; }

#past time:after { padding-left: .5em; }

#upcoming article, #past article {
  width: 24em;
  display: inline-block;
  margin: 0 1.5em;
}

#past article {
  border: 4px solid black;
  padding: 0.4em 1.5em 1.6em;
  width: 20.5em;
  margin-bottom: 2.5em;
}

#upcoming time {
  color: #9BC236;
  font-size: 1.6em;
  letter-spacing: .15em;
  display: block;
  margin-bottom: .5em;
}

#upcoming article h4 {
  font-size: 1.9em;
  margin: 0 0 .6em;
  letter-spacing: .1em;
}

#upcoming .location {
  border: 5px solid white;
  padding: 4.5em 0 2em;
}

#upcoming address {
  margin-bottom: 1em;
  font-style: normal;
}

.locations-detail {
  display: inline-block;
  font-size: .7em;
  margin: 1.2em auto 1em;
}

#upcoming a, #upcoming a:visited {
  background: #B3B3B3;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: .5em .75em;
  font-size: .8em;
  font-weight: 400;
  -webkit-border-radius:  1px;
  -moz-border-radius:     1px; 
  border-radius:          1px;
  letter-spacing: .1em;
  -o-transition:color .1s ease-out, background .1s ease-in;
  -ms-transition:color .1s ease-out, background .1s ease-in;
  -moz-transition:color .1s ease-out, background .1s ease-in;
  -webkit-transition:color .1s ease-out, background .1s ease-in;
  transition:color .1s ease-out, background .1s ease-in;
}

#upcoming a:hover {
  background: #929292;
}

#past a, #past a:visited {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: 0.2em;
  background: white url(../img/button-check.png) no-repeat 18px 10px;
  padding: 0.6em 1.3em 0.6em 3.6em;
  -o-transition:color .1s ease-out, background .1s ease-in;
  -ms-transition:color .1s ease-out, background .1s ease-in;
  -moz-transition:color .1s ease-out, background .1s ease-in;
  -webkit-transition:color .1s ease-out, background .1s ease-in;
  transition:color .1s ease-out, background .1s ease-in;
}

#past a:hover {
  background-color: #e5e5e5;
}

.arrow {
  /*background: url(../img/arrow.png) no-repeat center;*/
  background: #9BC236;
  color: black;
  letter-spacing: .3em;
  font-size: .8em;
  margin: 0 auto -2.9em;
  width: 8em;
  padding: 1em 0 0.5em;
  position: relative;
  z-index: 1;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 50px solid #9BC236;
  margin: 1.5em auto -4.2em;
  position: relative;
}

.locations-note {
  font-weight: 200;
  clear: both;
  padding: 1.5em 0;
  max-width: 30em;
  margin: 0 auto;
}

@media screen and (max-width: 55em) {
  #upcoming article {
    width: 19em;
    margin: 0 0.5em;
  }

  #past article {
    margin: 0 0.5em;
    margin-bottom: 1em;
    min-height: 10.6em;
    width: 15.8em;
  }

  #past h4 {
    min-height: 4em;
  }

  #past {
    padding-bottom: 1em;
  }

}

@media screen and (max-width: 42em) {
  #upcoming article {
    width: 15.3em;
    margin: 0 0.35em;
  }

  #past article {
    width: 11.7em;
  }

  #past h4 {
    min-height: 6em;
  }

}

@media screen and (max-width: 35em) {
  #upcoming article {
    width: 88%;
    margin: 1em 0;
  }

  #upcoming {
    background: #313131;
  }

  #past article {
    width: 9.4em;
    margin: 0 0.3em 1em;
    padding: 0.4em 0.7em 0.9em;
  }

  #past a, #past a:visited {
    padding: 0.6em 0.5em 0.5em 3em;
    background: white url(../img/button-check.png) no-repeat 9px 9px;
  }

}

@media screen and (max-width: 30em) {

  #past h4 {
    font-size: 0.9em;
  }

  .locations-note {
    padding-left:   .55em;
    padding-right:  .55em;
  }
}

@media screen and (max-width: 17em) {
  #upcoming article {
    width: auto;
  }

  #upcoming .location {
    border: none;
  }

  .locations-note {
    padding-top: 0;
  }