footer {
  background: #88A835;
  color: white;
  clear: left;
  padding: 1.2em 0;
  text-align: left;
  font-weight: 300;
  font-size: 1.2em;
}

.footer-wrapper, .copyright small {
  width: 89%;
  margin: 0 auto;
}

footer .footer-attention {
  color: black;
  font-weight: normal;
}

footer ul, footer ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer p {
  float: left;
}

footer ul {
  float: left;
}

footer li {
  display: inline-block;
  height: 4em;
  width: 4em;
  background: black;
  -webkit-border-radius:  2em;
  -moz-border-radius:     2em; 
  border-radius:          2em;
  margin-right: 0.2em;
}

.icon-github, .icon-twitter {
  color: #88A835;
  font-size: 2.3em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 1.6em;
  width: 1.75em;
  padding-top: 0.32em;
}

.icon-github:before, .icon-twitter:before {
  font-family: 'ddc-social';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-github:before {
  content: "\74";
}

.icon-twitter:before {
  content: "\67";
}

.copyright {
  background: black;
  color: #686868;
  padding: 2em 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.copyright small {
  display: block;
}

@media screen and (min-width: 20em) {
  footer li {
    margin-right: .8em;
  }
}

@media screen and (min-width: 40em) {
  footer p {
    width: 66%;
  }

  footer ul {
    float: right;
    margin-top: 1.4em;
  }

  footer li {
    margin-right: 0;
    margin-left: 0.8em;
  }
}

@media screen and (min-width: 50em) {
  .footer-wrapper, .copyright small {
    width: 87%;
  }

  footer p {
    width: 70%;
  }

  footer ul {
    margin-top: 1em;
  }
}

@media screen and (min-width: 60em) {
  .footer-wrapper {
    max-width: 50em;
  }

  .copyright-wrapper {
    margin: 0 auto;
    width: 87%;
    max-width: 60em;
  }

  .copyright small {
    width: auto;
    margin: 0;
  }

  footer p {
    width: 77%;
  }

  footer ul {
    margin-top: .4em;
  }
}