footer {
  background: #88A835;
  color: white;
  clear: left;
  padding: 1.2em 0;
  text-align: left;
  font-weight: 300;
  font-size: 1.2em;
}

.footer-wrapper {
  max-width: 43em;
  margin: 0 auto;
}

footer .black-text {
  color: black;
  font-weight: normal;
}

footer ul, footer ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer p {
  width: 76%;
  float: left;
}

footer ul {
  float: left;
  margin-top: 1em;
}

footer li {
  display: inline-block;
  height: 4em;
  width: 4em;
  background: black;
  -webkit-border-radius:  50px;
  -moz-border-radius:     50px; 
  border-radius:          50px;
  margin-left: 0.8em;
}

.icon-github, .icon-twitter {
  color: #88A835;
  font-size: 2.3em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 1.6em;
  width: 1.75em;
  padding-top: 0.22em;
}

.icon-github:before, .icon-twitter:before {
  font-family: 'ddc-social';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-github:before {
  /*content: "\74";*/
}

.icon-twitter:before {
  /*content: "\67";*/
}

.copyright {
  background: black;
  color: #686868;
  padding: 2em 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.copyright small {
  display: block;
  max-width: 86em;
  margin: 0 auto;
}

@media screen and (max-width: 55em) {

  footer p {
    width: 70%;
  }

  .footer-wrapper {
    max-width: 33.5em;
  }

  .copyright small {
    max-width: 67.5em;
  }

}

@media screen and (max-width: 42em) {
  
  .footer-wrapper {
    max-width: 26.5em;
  }

  footer p {
    width: 62%;
  }

  .copyright small {
    max-width: 53.5em;
  }
}

@media screen and (max-width: 35em) {

  footer p {
    width: 100%;
  }

  .footer-wrapper {
    max-width: 19.4em;
  }

  .copyright small {
    max-width: 38.8em;
  }

  footer ul {
    float: none;
    margin-top: 0;
  }

  footer li {
    margin-left: 0;
    margin-right: .8em;
  }

}

@media screen and (max-width: 30em) {
  
  .footer-wrapper {
    max-width: 90%;
  }

  .copyright small {
    max-width: 90%;
  }

}
