footer {
  background: #88A835;
  color: white;
  clear: left;
  padding: 1.2em 0;
  text-align: left;
  font-weight: 300;
  font-size: 1.2em;
}

.footer-wrapper {
  max-width: 35em;
  margin: 0 auto;
}

footer .black-text {
  color: black;
  font-weight: normal;
}

footer ul, footer ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer p {
  width: 70%;
  float: left;
}

footer li {
  display: inline;
}

.icon-github, .icon-twitter {
  background: black;
  color: #88A835;
  font-size: 3em;
  text-decoration: none;
  -webkit-border-radius:  50px;
  -moz-border-radius:     50px; 
  border-radius:          50px;
  display: inline-block;
  width: 1.5em;
}

.icon-github:before, .icon-twitter:before {
  font-family: 'ddc-social';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-github:before {
  /*content: "\74";*/
}
.icon-twitter:before {
  /*content: "\67";*/
}
