header {
  margin-top: 1.5em;
}

.logo {
  background: url(../img/logo.png) no-repeat center;
  height: 200px;
  width: 100%;
  position: absolute;
  text-indent: -9999px;
  margin: 0;
}

.intro .wrapper {
  background: white;
  margin-top: 4em;
  margin-bottom: 5.5em;
  padding: 2em 0;
}

.intro h2 {
  color: #8a8a8a;
  display: inline-block;
  font-size: .7em;
  text-transform: uppercase;
}

.intro span.left, .intro span.right {
  border-top: 1px solid #AFAFAF;
  border-bottom: 1px solid #AFAFAF;
  padding: 1.9em 0 1.9em;
}

.intro span.left {
  margin-right: 250px;
}

.intro h2:before {
  content: "> ";
  color: #9bc236;
}

.intro h2:after {
  content: " <";
  color: #9bc236;
}

.intro p {
  background: #8A8A8A;
  border-top: 10px solid #9BC236;
  padding: 1.5em 24%;
  font-size: 1.5em;
  margin: 0;
}