.logo {
  background: url(../img/logo.png) no-repeat center;
  height: 200px;
  width: 100%;
  position: absolute;
  text-indent: -9999px;
  margin-top: -2.5em;
}

.logo h1 {
  margin: 0;
}

header {
  padding: 4em 0 5.3em;
  box-shadow: 0px 0px 5px 0px #474747;
  position: relative;
}

.tagline-wrapper {
  background: white;
  padding: 1em 0;
}

.tagline-wrapper h2 {
  color: #8a8a8a;
  display: inline-block;
  font-size: .7em;
  text-transform: uppercase;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  padding: 1.5em 0;
}

.tagline-wrapper span.first-tag, .tagline-wrapper span.second-tag {
  padding: 1.9em 0 1.9em;
}

.tagline-wrapper span.first-tag {
  margin-right: 20em;
}

.tagline-wrapper h2:before {
  content: ">\00a0";
  color: #9bc236;
}

.tagline-wrapper h2:after {
  content: "\00a0<";
  color: #9bc236;
}

.intro {
  background: #8A8A8A;
  border-top: 10px solid #9BC236;
  padding: 1.5em 15%;
  font-size: 1.5em;
}

.intro p {
  margin: 0;
}

@media screen and (min-width: 80em) {
  .intro-linebreak {
    display: block;
  }
}

@media screen and (max-width: 50em) {
  header {
    padding: 1.2em 0 1.2em;
  }

  .logo {
    background: url(../img/logo-small.png) no-repeat center;
    position: relative;
    height: 150px;
    margin-top: 0em;
    margin-bottom: 0em;
  }

  .tagline-wrapper {
    margin-top: 1.15em;
    padding: .4em 0;
  }

  .tagline-wrapper h2 {
    padding: .75em 0;
  }

  .tagline-wrapper span.first-tag, .tagline-wrapper span.second-tag {
    border: none;
  }

  .tagline-wrapper span.first-tag {
    margin: 0;
  }

  .intro {
    clear: left;
    font-size: 1.3em;
    padding: 1em 10%;
    margin: 0;
  }
}

@media screen and (max-width: 18em) {
  .tagline-wrapper h2 {
    font-size: .5em;
    letter-spacing: -0.2em;
  }

  .intro {
    font-size: 1.2em;
  }

  .tagline-wrapper h2:before {
    display: none;
  }

  .tagline-wrapper h2:after {
    display: none;
  }
}