
nav {
  text-align: center;
}

nav ul {
  -webkit-margin-before:  0;
  -webkit-margin-after:   0;
  -webkit-margin-start:   0;
  -webkit-margin-end:     0;
  -webkit-padding-start:  0;
}

nav li {
  display: inline;
  padding: 0 2%;
}

nav a, nav a:visited {
  background: #F0F0F0;
  -webkit-border-radius:  2px;
  -moz-border-radius:     2px; 
  border-radius:          2px;
  color: #8A8A8A;
  padding: 4px 8px;
  text-decoration: none;
}

nav a:hover {
  background: #e8e8e8;
}

@media screen and (min-width: 30em) {
  nav {
    display: none;
  }
}