#upcoming {
  background: #313131 url(../img/photo.jpg) no-repeat center;
  color: white;
  margin: 0 auto;
}

.article-wrapper {
  width: 44em;
  margin: 0 auto;
}

#upcoming h2, #past h2 {
  text-transform: uppercase;
  font-size: .8em;
  margin: 0;
  padding: 1.3em 0;
  font-weight: 200;
}

#upcoming h3 {
  color: #9BC236;
}

#upcoming article, #past article {
  width: 19em;
  float:left;
  margin: 0 1.5em;
}

#upcoming article h3 {
  font-size: 1.6em;
  letter-spacing: .15em;
  margin: 0;
  margin-bottom: .5em;
}

#upcoming article h4 {
  font-size: 1.9em;
  margin: 0 0 .6em;
}

#upcoming .location {
  border: 5px solid white;
  padding: 4.5em 0 2em;
}

#upcoming address {
  margin-bottom: 1em;
  font-style: normal;
}

.locations-detail {
  display: inline-block;
  font-size: .7em;
  margin: 1.2em auto 1em;
}

#upcoming a {
  background: #B3B3B3;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: .5em .75em;
  font-size: .8em;
  font-weight: 400;
  -webkit-border-radius:  1px;
  -moz-border-radius:     1px; 
  border-radius:          1px;
  letter-spacing: .1em;
}

.arrow {
  /*background: url(../img/arrow.png) no-repeat center;*/
  background: #9BC236;
  color: black;
  letter-spacing: .3em;
  font-size: .8em;
  margin: 0 auto -2.9em;
  width: 8em;
  padding: 1em 0 0.5em;
  position: relative;
  z-index: 1;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 50px solid #9BC236;
  margin: 1.5em auto -4.2em;
  position: relative;
}

.locations-note {
  font-weight: 200;
  clear: both;
  padding: 1.5em 0;
  max-width: 30em;
  margin: 0 auto;
}

@media screen and (max-width: 45em) {
  #upcoming article {
    float: none;
    margin: 0 auto 1.5em;
  }

  #upcoming {
    background: #313131;
  }

  .locations-note {
    padding: 0 10% 1.5em;
  }

  .article-wrapper {
    width: auto;
  }
}

@media screen and (max-width: 30em) {
  #upcoming article {
    width: 16em;
  }
}

@media screen and (max-width: 17em) {
  #upcoming article {
    width: auto;
  }

  #upcoming .location {
    border: none;
  }
}