@charset "UTF-8";
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=229f654c-f062-4aa1-9cd0-067c8b3f856d");
nav ul, footer ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none; }

#upcoming h1 b, #past h1 b, .note {
  font-weight: 200; }

@font-face {
  font-family: 'avenir';
  src: url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
  src: url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"), url("../fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"), url("../fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"), url("../fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg"); }
@font-face {
  font-family: 'outage';
  src: url("../fonts/outage_cut-webfont.eot");
  src: url("../fonts/outage_cut-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/outage_cut-webfont.woff") format("woff"), url("../fonts/outage_cut-webfont.ttf") format("truetype"), url("../fonts/outage_cut-webfont.svg#outagecut") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ddc-social';
  src: url("../fonts/ddc-social.eot");
  src: url("../fonts/ddc-social.eot?#iefix") format("embedded-opentype"), url("../fonts/ddc-social.woff") format("woff"), url("../fonts/ddc-social.ttf") format("truetype"), url("../fonts/ddc-social.svg#ddc-social") format("svg");
  font-weight: normal;
  font-style: normal; }
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Document Styles */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-family: "avenir", sans-serif;
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
  border-top: 16px solid #8A8A8A; }

body, #past h1 b {
  background: white url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQIW2NkAIKvX7/+B9Hc3NyMjCAOiAGTwBRA1wIANl0XwTXCU78AAAAASUVORK5CYII=") repeat; }

header h1, .tagline-wrapper, #upcoming time, #upcoming h2, .upcoming-title, #past time, #past h2 {
  font-family: "outage", sans-serif; }

::-moz-selection {
  background: #9BC236;
  text-shadow: none; }

::selection {
  background: #9BC236;
  text-shadow: none; }

/* Chrome Frame Prompt */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Image Replacement */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px; }

/* Clearfix for floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/* Clearfix helpers for IE 6/7 only */
.clearfix {
  *zoom: 1; }

nav {
  text-align: center;
  margin-bottom: 1.3em; }
  nav li {
    display: inline;
    padding: 0 1%; }
  nav a {
    background: #f0f0f0;
    border-radius: 0.25em;
    color: #8A8A8A;
    padding: 0.2em 0.4em;
    font-size: .7em;
    text-decoration: none; }
    nav a:hover {
      background: #e8e8e8; }
    @media (min-width: 15rem) {
      nav a {
        padding: 0.4em 0.6em;
        font-size: .85em; } }
  @media (min-width: 30rem) {
    nav {
      display: none; } }

.logo {
  margin: 0 auto;
  position: relative; }
  @media (min-width: 50rem) {
    .logo {
      height: 200px;
      width: 181px; } }
  .logo img {
    width: 181px;
    max-width: 9em; }
    @media (min-width: 30rem) {
      .logo img {
        max-width: none; } }
    @media (min-width: 50rem) {
      .logo img {
        position: absolute;
        left: 0; } }

header {
  padding: 1.2em 0 1.2em;
  box-shadow: 0px 0px 5px 0px #474747;
  position: relative; }
  @media (min-width: 50rem) {
    header {
      padding: 2em 0 6.9em; } }

.tagline-wrapper {
  background: white;
  margin-top: 1.15em;
  padding: .4em 0; }
  @media (min-width: 50rem) {
    .tagline-wrapper {
      margin-top: -9.15em; } }
  .tagline-wrapper h2 {
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    color: #8A8A8A;
    display: inline-block;
    font-size: .5em;
    padding: 1.5em 0;
    letter-spacing: -0.2em;
    text-transform: uppercase; }
    .tagline-wrapper h2:before, .tagline-wrapper h2:after {
      display: none; }
  @media (min-width: 18rem) {
    .tagline-wrapper h2 {
      padding: .75em 0;
      font-size: .7em;
      letter-spacing: normal; }
      .tagline-wrapper h2:before {
        display: inline;
        content: ">\00a0";
        color: #9BC236; }
      .tagline-wrapper h2:after {
        display: inline;
        content: "\00a0<";
        color: #9BC236; } }
  @media (min-width: 50rem) {
    .tagline-wrapper span.first-tag {
      margin-right: 20em; } }

.intro {
  background: #8A8A8A;
  border-top: 10px solid #9BC236;
  font-size: 1em;
  padding: 1em 10%;
  margin: 0; }
  .intro p {
    margin: 0; }
  @media (min-width: 18rem) {
    .intro {
      font-size: 1.3em;
      margin: auto; } }
  @media (min-width: 30rem) {
    .intro {
      padding: 1.5em 15%; } }
  @media (min-width: 50rem) {
    .intro {
      font-size: 1.5em; } }

@media (min-width: 80rem) {
  .intro-linebreak {
    display: block; } }

.dang {
  display: none;
  border: 4px solid #575757;
  position: fixed;
  color: #4a4a4a;
  background: #bdbdbd;
  width: 15em;
  padding: 1em;
  font-size: .9em;
  margin-left: 3.7em;
  z-index: 2;
  transition: all .5s ease; }
  @media (min-width: 120rem) {
    .dang {
      display: block; } }
  .dang a, .dang a:hover, .dang a:visited {
    color: #4a4a4a; }

.dang:before {
  display: none;
  content: url("/img/big-screen-arrow.png") no-repeat center;
  position: absolute;
  margin-left: -11.7em;
  margin-top: 1.2em;
  transition: all .3s ease; }
  @media (min-width: 118rem) {
    .dang:before {
      display: inline; } }

#upcoming h1, #past h1 {
  text-transform: uppercase;
  font-size: .8em;
  margin: 0;
  padding: 1.4em 0;
  letter-spacing: .1em; }
  @media (min-width: 13rem) {
    #upcoming h1, #past h1 {
      z-index: 2;
      position: relative; }
      #upcoming h1:before, #upcoming h1:after, #past h1:before, #past h1:after {
        width: 50%;
        content: "\00a0";
        height: .08em;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        z-index: -1;
        margin-top: .6em; }
      #upcoming h1:before, #past h1:before {
        left: 0; }
      #upcoming h1:after, #past h1:after {
        right: 0; }
      #upcoming h1 b, #past h1 b {
        padding: 0 0.7em; } }
#upcoming article, #past article {
  display: inline-block; }
  @media (min-width: 17rem) {
    #upcoming article, #past article {
      width: 88%;
      margin: 0.8em 0; } }

#upcoming {
  background: #313131;
  color: white;
  margin: 0 auto; }
  #upcoming h1 b {
    background: #313131; }
    @media (min-width: 40rem) {
      #upcoming h1 b {
        background: #313131 url("/img/photo.jpg") no-repeat center 0%; } }
  @media (min-width: 13rem) {
    #upcoming h1:before, #upcoming h1:after {
      background: white; } }
  #upcoming h2 {
    font-size: 1.9em;
    margin: 0 0 .6em; }
    @media (min-width: 28rem) {
      #upcoming h2 {
        letter-spacing: .2em;
        font-size: 2.4em;
        margin: 0 0 0.3em; } }
    @media (min-width: 40rem) {
      #upcoming h2 {
        letter-spacing: .1em;
        font-size: 1.9em; } }
  #upcoming article {
    margin: 0 0 1.2em;
    border-bottom: 1px solid white;
    width: 100%; }
    @media (min-width: 17rem) {
      #upcoming article {
        width: 88%;
        margin: 0.8em 0;
        border-bottom: none; } }
    @media (min-width: 40rem) {
      #upcoming article {
        width: 42%;
        margin: 0 .5em; } }
  @media (min-width: 40rem) {
    #upcoming {
      background: #313131 url("/img/photo.jpg") no-repeat center; } }

a.upcoming-btn {
  background: #a4a4a4;
  color: black;
  font-size: .8em;
  font-weight: 400;
  letter-spacing: .1em;
  padding: 0.6em 1.35em;
  text-transform: uppercase;
  text-decoration: none;
  transition: background .2s ease; }
  a.upcoming-btn:hover {
    background: #8A8A8A; }

.upcoming-featured time, .upcoming-standard time {
  font-size: 1em;
  letter-spacing: .15em;
  display: block;
  margin-bottom: .5em; }

.upcoming-featured time {
  color: #9BC236; }
.upcoming-featured .upcoming-title {
  background: #9BC236;
  color: black;
  letter-spacing: .2em;
  font-size: .7em;
  margin: 0 auto -2.2em;
  width: 9em;
  padding: 0.7em 0 0.1em;
  position: relative;
  z-index: 1; }
  @media (min-width: 17rem) {
    .upcoming-featured .upcoming-title {
      width: 10em;
      padding: 1em 0 0.5em; } }
  .upcoming-featured .upcoming-title:after {
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 35px solid #9BC236;
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin: -0.1em 0 -2.8em -1.7em;
    position: relative; }
    @media (min-width: 17rem) {
      .upcoming-featured .upcoming-title:after {
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        border-top: 50px solid #9BC236;
        margin: -0.1em 0 -4.1em -2.1em; } }

.upcoming-standard time {
  color: #a4a4a4; }
.upcoming-standard .upcoming-title {
  background: #a4a4a4;
  color: black;
  letter-spacing: .2em;
  font-size: .7em;
  margin: 0 auto -2.2em;
  width: 9em;
  padding: 0.7em 0 0.1em;
  position: relative;
  z-index: 1; }
  @media (min-width: 17rem) {
    .upcoming-standard .upcoming-title {
      width: 10em;
      padding: 1em 0 0.5em; } }
  .upcoming-standard .upcoming-title:after {
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 35px solid #a4a4a4;
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin: -0.1em 0 -2.8em -1.7em;
    position: relative; }
    @media (min-width: 17rem) {
      .upcoming-standard .upcoming-title:after {
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        border-top: 50px solid #a4a4a4;
        margin: -0.1em 0 -4.1em -2.1em; } }

.article-block {
  border: none;
  padding: 4.5em 0 2em; }
  @media (min-width: 17rem) {
    .article-block {
      border: 5px solid white; } }
  .article-block .vcard .adr {
    margin-bottom: 1em;
    font-style: normal;
    background: none; }
  .article-block .vcard .details {
    display: inline-block;
    font-size: .7em;
    margin: 0em auto 2.4em; }

.article-wrapper {
  display: inline-block;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 70em;
  width: 100%; }
  .article-wrapper a {
    color: inherit; }

#past {
  box-shadow: 0px 0px 5px 0px #474747;
  position: relative; }
  @media (min-width: 13rem) {
    #past h1:before, #past h1:after {
      background: black; } }
  #past time {
    font-size: 0.9em;
    display: block;
    margin: 0.9em 0; }
    #past time:before, #past time:after {
      content: "–";
      font-weight: bold;
      color: #9BC236; }
    #past time:before {
      padding-right: .5em; }
    #past time:after {
      padding-left: .5em; }
  #past article {
    border: 4px solid black;
    margin-bottom: 0.9em;
    width: 88%; }
    @media (min-width: 17rem) {
      #past article {
        margin-bottom: 2.1em; } }
    @media (min-width: 40rem) {
      #past article {
        margin: 0.7em .5em;
        width: 42%; } }
    @media (min-width: 60rem) {
      #past article {
        width: 19.2%; } }
    #past article h2 {
      font-size: 1em;
      min-height: 2.9em;
      padding: 0 1em; }
  #past a {
    background: white url("/img/button-check.svg") no-repeat 1.6em 0.8em;
    background-size: 0.875rem;
    border: 1px solid white;
    color: black;
    display: block;
    font-size: 0.875em;
    font-weight: 200;
    letter-spacing: 0.2em;
    max-width: 8em;
    margin: 0 auto 1.6em;
    padding: 0.6em 0.5em 0.5em 3em;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 1px 1px 1px #DADADA;
    transition: all .3s ease; }
    #past a:hover {
      box-shadow: inset 0 0 0 0.125rem #9BC236, 1px 1px 1px #DADADA; }
    @media (min-width: 40rem) {
      #past a {
        background-position: 2.1em 0.8em;
        padding: 0.6em 1.3em 0.6em 3.6em; } }
  @media (min-width: 40rem) {
    #past {
      padding-bottom: 2em; } }

.note {
  clear: both;
  padding: 1em 4% 2em;
  max-width: 30em;
  margin: 0 auto; }
  @media (min-width: 40rem) {
    .note {
      padding: 1.2em 4%; } }
  .note a, .note a:visited {
    color: white; }

footer {
  background: #9BC236;
  padding-top: 1.2em;
  text-align: left; }
  footer ul {
    float: left; }
    @media (min-width: 40rem) {
      footer ul {
        float: right;
        margin-top: 1.4em; } }
    @media (min-width: 50rem) {
      footer ul {
        margin-top: 1em; } }
    @media (min-width: 60rem) {
      footer ul {
        margin-top: .4em; } }
  footer li {
    background: black;
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 4em;
    width: 4em;
    margin-right: 0.2em;
    border-radius: 2em;
    transition: background .2s ease; }
    footer li:hover {
      background: #121606; }
    @media (min-width: 20rem) {
      footer li {
        margin-right: .8em; } }
    @media (min-width: 40rem) {
      footer li {
        margin-right: 0;
        margin-left: 0.8em; } }

.footer-primary-text {
  color: white;
  text-shadow: 1px 1px 1px #7b9a2b;
  font-weight: 300;
  font-size: 1.2em;
  float: left; }
  @media (min-width: 40rem) {
    .footer-primary-text {
      width: 65%; } }
  @media (min-width: 50rem) {
    .footer-primary-text {
      width: 70%; } }
  @media (min-width: 60rem) {
    .footer-primary-text {
      width: 76%; } }

.footer-attention {
  color: black;
  font-weight: normal;
  text-shadow: none; }

.footer-wrapper, .arrow-container, .chirp, .copyright small {
  width: 86%;
  margin: 0 auto; }
  @media (min-width: 50rem) {
    .footer-wrapper, .arrow-container, .chirp, .copyright small {
      width: 85%; } }

@media (min-width: 60rem) {
  .footer-wrapper, .arrow-container, .chirp {
    max-width: 60em; } }

.copyright small {
  display: block; }
  @media (min-width: 60rem) {
    .copyright small {
      max-width: 100em; } }

.icon-github, .icon-twitter {
  color: #9BC236;
  font-size: 2.3em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 1.6em;
  width: 1.75em;
  padding-top: 0.32em; }

[data-icon]:before {
  font-family: 'ddc-social';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.copyright {
  background: black;
  color: #8A8A8A;
  padding: 2em 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: .1em; }
  .copyright a, .copyright a:visited {
    color: #8A8A8A; }

.tweets {
  display: none;
  background: #85a62e;
  color: black;
  padding: 2.3em 0 2em;
  text-align: left;
  margin-top: 2.6em; }
  @media (min-width: 40rem) {
    .tweets {
      padding-top: 0.5em;
      margin-top: 1.4em; } }

@media (min-width: 40rem) {
  .chirp {
    margin-top: 0; } }
.chirp:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-bottom: 1.4em solid #85a62e;
  margin-top: -3.5em;
  margin-left: 0; }
  @media (min-width: 40rem) {
    .chirp:before {
      float: right;
      margin-right: 5.2em;
      margin-left: 0;
      margin-top: -1.8em; } }
.chirp p {
  margin-top: 1.9em;
  margin-bottom: .5em; }
  @media (min-width: 40rem) {
    .chirp p {
      margin-bottom: 1em; } }
.chirp a {
  color: black; }
@media (min-width: 40rem) {
  .chirp .tweet-container {
    float: left;
    width: 47%; } }
@media (min-width: 40rem) {
  .chirp .tweet-container:first-of-type {
    margin-right: 6%; } }
.chirp .meta {
  font-size: .8em;
  font-style: italic; }

.closing {
  text-align: justify; }

/*# sourceMappingURL=base.css.map */
