#upcoming, #past {
  h1 {
    text-transform: uppercase;
    font-size: .8em;
    margin: 0;
    padding: 1.4em 0;
    letter-spacing: .1em;
    @include breakpoint(13em, $no-query) {
      z-index: 2;
      position: relative;
      &:before, &:after {
        width: 50%;
        content: "\00a0";
        height: .08em;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        z-index: -1;
        margin-top: .6em;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
      b {
        padding: 0 0.7em;
      }
    }
  }
  article {
    display: inline-block;
    @include breakpoint(17em, $no-query) {
      width: 88%;
      margin: 0.8em 0;
    }
  }
}

#upcoming {
  background: #313131;
  color: white;
  margin: 0 auto;
  h1 {
    b {
      background: #313131;
      @extend %font-light;
      @include breakpoint(40em, $no-query) {
        background: darken($secondary, 35%) image-url("photo.jpg") no-repeat center 0%;
      }
    }
    @include breakpoint(13em, $no-query) {
      &:before, &:after {
        background: white;
      }
    }
  }
  h2 {
    font-size: 1.9em;
    margin: 0 0 .6em;
    @include breakpoint(28em, $no-query) {
      letter-spacing: .2em;
      font-size: 2.4em;
      margin: 0 0 0.3em;
    }
    @include breakpoint(40em, $no-query) {
      letter-spacing: .1em;
      font-size: 1.9em;
    }
  }
  article {
    margin: 0 0 1.2em;
    border-bottom: 1px solid white;
    width: 100%;
    @include breakpoint(17em, $no-query) {
      width: 88%;
      margin: 0.8em 0;
      border-bottom: none;
    }
    @include breakpoint(40em, $no-query) {
      width: 42%;
      margin: 0 .5em;
    }
  }
  time {
    color: $base;
    font-size: 1em;
    letter-spacing: .15em;
    display: block;
    margin-bottom: .5em;
  }
  a {
    background: lighten($secondary, 10%);
    color: black;
    font: {
      size: .8em;
      weight: 400;
    }
    letter-spacing: .1em;
    padding: 0.6em 1.35em;
    text: {
      transform: uppercase;
      decoration: none;
    }
    @include transition(background .2s ease);
    &:hover {
      background: $secondary;
    }
  }
  @include breakpoint(40em, $no-query) {
     background: darken($secondary, 35%) image-url("photo.jpg") no-repeat center;
  }
}

.article-block {
  border: none;
  padding: 4.5em 0 2em;
  address {
    margin-bottom: 1em;
    font-style: normal;
    background: none;
  }
  @include breakpoint(17em, $no-query) {
    border: 5px solid white;
  }
}

.article-wrapper {
  display: inline-block;
  margin: 0 auto;
  max-width: 70em;
  width: 100%;
}

#past {
  box-shadow: $shadow;
  position: relative;
  h1 {
    b {
      @extend %font-light;
    }
    @include breakpoint(13em, $no-query) {
      &:before, &:after {
        background: black;
      }
    }
  }
  time {
    font-size: 0.9em;
    display: block;
    margin: 0.9em 0;
    &:before, &:after {
      content: "–";
      font-weight: bold;
      color: $base;
    }
    &:before {
      padding-right: .5em;
    }
    &:after {
      padding-left: .5em;
    }
  }
  h2 {
    font-size: 1em;
  }
  article {
    border: 4px solid black;
    margin-bottom: 0.9em;
    width: 88%;
    @include breakpoint(17em, $no-query) {
      margin-bottom: 2.1em;
    }
    @include breakpoint(40em, $no-query) {
      margin: 0.7em .5em;
      width: 42%;
    }
    @include breakpoint(60em, $no-query) {
      width: 19.2%;
    }
  }
  a {
    background: white image-url("button-check.png") no-repeat 1.6em 0.8em;
    border: 1px solid white;
    color: black;
    display: block;
    font: {
      size: 0.8em;
      weight: 200;
    }
    letter-spacing: 0.2em;
    max-width: 8em;
    margin: 0 auto 1.6em;
    padding: 0.6em 0.5em 0.5em 3em;
    text: {
      transform: uppercase;
      decoration: none;
    }
    @include box-shadow(1px 1px 1px #DADADA);
    @include transition(all .3s ease);
    &:hover {
      @include box-shadow(1px 1px 0 #c6c6c6);
    }
    @include breakpoint(40em, $no-query) {
      background-position: 2.1em 0.8em;
      padding: 0.6em 1.3em 0.6em 3.6em; 
    }
  }
  @include breakpoint(40em, $no-query) {
    padding-bottom: 2em;
  }
}

.article-title {
  min-height: 2.9em;
  padding: 0 1em;
  
}

.locations-detail {
  display: inline-block;
  font-size: .7em;
  margin: 1.2em auto 1em;
}

.attention {
  background: $base;
  color: black;
  letter-spacing: .3em;
  font-size: .8em;
  margin: 0 auto -2.9em;
  width: 6.6em;
  padding: 0.7em 0 0.1em;
  position: relative;
  z-index: 1;
  @include breakpoint(17em, $no-query) {
    width: 8em;
    padding: 1em 0 0.5em;
  }
}

.arrow-down {
  @include arrow-border(60px, 30px);
  width: 0; 
  height: 0;
  margin: 1.9em auto -4.2em;
  position: relative;
  @include breakpoint(17em, $no-query) {
    @include arrow-border(70px, 50px);
    margin: 1.5em auto -4.2em;
  }
}

.note {
  @extend %font-light;
  clear: both;
  padding: 1em 4% 2em;
  max-width: 30em;
  margin: 0 auto;
  @include breakpoint(40em, $no-query) {
    padding: 1.2em 4%;
  }
}
