footer {
  background: $base;
  color: white;
  clear: left;
  padding: 1.2em 0;
  text-align: left;
  font: {
    weight: 300;
    size: 1.2em;
  }
  .footer-attention {
    color: black;
    font-weight: normal;
  }
  ul {
    @extend %list-reset;
    float: left;
    @include respond-to(min-width, 40em) {
      float: right;
      margin-top: 1.4em;
    }
    @include respond-to(min-width, 50em) {
      margin-top: 1em;
    }
    @include respond-to(min-width, 60em) {
      margin-top: .4em;
    }
  }
  li {
    background: black;
    display: inline-block;
    height: 4em;
    width: 4em;
    margin-right: 0.2em;
    @include border-radius(2em);
    @include transition(background .2s ease);
    &:hover {
      background: #141414;
    }
    @include respond-to(min-width, 20em) {
      margin-right: .8em;
    }
    @include respond-to(min-width, 40em) {
      margin-right: 0;
      margin-left: 0.8em;
    }
  }
  p {
    float: left;
    @include respond-to(min-width, 40em) {
      width: 65%;
    }
    @include respond-to(min-width, 50em) {
      width: 70%;
    }
    @include respond-to(min-width, 60em) {
      width: 76%;
    }
  }
}

.footer-wrapper, .copyright small {
  width: 86%;
  margin: 0 auto;
  @include respond-to(min-width, 50em) {
    width: 85%;
  }
}

.footer-wrapper {
  @include respond-to(min-width, 60em) {
    max-width: 50em;
  }
}

.icon-github, .icon-twitter {
  color: $base;
  font-size: 2.3em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 1.6em;
  width: 1.75em;
  padding-top: 0.32em;
  &:before {
    font: {
      family: $social;
      style: normal;
      weight: normal;
    }
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;    
  }
}

.icon-github:before {
  content: "\74";
}

.icon-twitter:before {
  content: "\67";
}

.copyright {
  background: black;
  color: $secondary;
  padding: 2em 0;
  text: {
    align: left;
    transform: uppercase;
  }
  letter-spacing: .1em;
  small {
    display: block;
    @include respond-to(min-width, 60em) {
      width: auto;
      margin: 0;
    }
  }
  .copyright-wrapper {
    @include respond-to(min-width, 60em) {
      margin: 0 auto;
      width: 85%;
      max-width: 60em;
    }
  }
}