footer {
  background: $base;
  color: white;
  clear: left;
  padding: 1.2em 0;
  text-align: left;
  font: {
    weight: 300;
    size: 1.2em;
  }
  .footer-attention {
    color: black;
    font-weight: normal;
  }
  ul {
    @extend %list-reset;
    float: left;
  }
  li {
    background: black;
    display: inline-block;
    height: 4em;
    width: 4em;
    margin-right: 0.2em;
    @include radius(2em);
    @include transition;
    &:hover {
      background: #141414;
    }
  }
  p {
    float: left;
  }
}

.footer-wrapper, .copyright small {
  width: 86%;
  margin: 0 auto;
}

.icon-github, .icon-twitter {
  color: $base;
  font-size: 2.3em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 1.6em;
  width: 1.75em;
  padding-top: 0.32em;
  &:before {
    font: {
      family: $social;
      style: normal;
      weight: normal;
    }
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;    
  }
}

.icon-github:before {
  content: "\74";
}

.icon-twitter:before {
  content: "\67";
}

.copyright {
  background: black;
  color: $secondary;
  padding: 2em 0;
  text: {
    align: left;
    transform: uppercase;
  }
  letter-spacing: .1em;
  small {
    display: block;
  }
}

@media (min-width: 20em) {
  footer li {
    margin-right: .8em;
  }
}

@media (min-width: 40em) {
  footer {
    p {
      width: 65%;
    }
    ul {
      float: right;
      margin-top: 1.4em;
    }
    li {
      margin-right: 0;
      margin-left: 0.8em;
    }
  }
}

@media (min-width: 50em) {
  .footer-wrapper, .copyright small {
    width: 85%;
  }

  footer {
    p {
      width: 70%;
    }
    ul {
      margin-top: 1em;
    }
  }
}

@media (min-width: 60em) {
  .footer-wrapper {
    max-width: 50em;
  }

  .copyright-wrapper {
    margin: 0 auto;
    width: 85%;
    max-width: 60em;
  }

  .copyright small {
    width: auto;
    margin: 0;
  }

  footer {
    p {
      width: 77%;
    }
    ul {
      margin-top: .4em;
    }
  }
}