footer {
  background: $base;
  padding-top: 1.2em;
  text-align: left;
  ul {
    @extend %list-reset;
    float: left;
    @media (min-width: 40rem) {
      float: right;
      margin-top: 1.4em;
    }
    @media (min-width: 50rem) {
      margin-top: 1em;
    }
    @media (min-width: 60rem) {
      margin-top: .4em;
    }
  }
  li {
    background: black;
    display: inline-block;
    *display: inline; // IE7 hack
    zoom: 1; // IE7 hack
    height: 4em;
    width: 4em;
    margin-right: 0.2em;
    border-radius: 2em;
    transition: background .2s ease;
    &:hover {
      background: darken($base, 43%);
    }
    @media (min-width: 20rem) {
      margin-right: .8em;
    }
    @media (min-width: 40rem) {
      margin-right: 0;
      margin-left: 0.8em;
    }
  }
}

.footer-primary-text {
  color: white;
  text-shadow: 1px 1px 1px darken($base, 10%);
  font: {
    weight: 300;
    size: 1.2em;
  }
  float: left;
  @media (min-width: 40rem) {
    width: 65%;
  }
  @media (min-width: 50rem) {
    width: 70%;
  }
  @media (min-width: 60rem) {
    width: 76%;
  }
}

.footer-attention {
  color: black;
  font-weight: normal;
  text-shadow: none;
}

.footer-wrapper, .arrow-container, .chirp, .copyright small {
  width: 86%;
  margin: 0 auto;
  @media (min-width: 50rem) {
    width: 85%;
  }
}
.footer-wrapper, .arrow-container, .chirp {
  @media (min-width: 60rem) {
    max-width: 60em;
  }
}

.copyright small {
  display: block;
  @media (min-width: 60rem) {
    max-width: 100em;
  }
}

// icon font styles
.icon-github, .icon-twitter {
  color: $base;
  font-size: 2.3em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 1.6em;
  width: 1.75em;
  padding-top: 0.32em;
}

[data-icon]:before {
  font-family: 'ddc-social';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
// end icon font styles

.copyright {
  background: black;
  color: $secondary;
  padding: 2em 0;
  text: {
    align: left;
    transform: uppercase;
  }
  letter-spacing: .1em;
  a, a:visited {
    color: $secondary;
  }
}

.tweets {
  display: none;
  background: darken($base, 7%);
  color: black;
  padding: 2.3em 0 2em;
  text-align: left;
  margin-top: 2.6em;
  @media (min-width: 40rem) {
    padding-top: 0.5em;
    margin-top: 1.4em;
  }
}

.chirp {
  @media (min-width: 40rem) {
    margin-top: 0;
  }
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    border-bottom: 1.4em solid darken($base, 7%);
    margin-top: -3.5em;
    margin-left: 0;
    @media (min-width: 40rem) {
      float: right;
      margin-right: 5.2em;
      margin-left: 0;
      margin-top: -1.8em;
    }
  }
  p {
    margin-top: 1.9em;
    margin-bottom: .5em;
    @media (min-width: 40rem) {
      margin-bottom: 1em;
    }
  }
  a {
    color: black;
  }
  .tweet-container {
    @media (min-width: 40rem) {
      float: left;
      width: 47%;
    }
  }
  .tweet-container:first-of-type {
    @media (min-width: 40rem) {
      margin-right: 6%;
    }
  }
  .meta {
    font-size: .8em;
    font-style: italic;
  }
}
