$border-thin: 1px solid #DBDBDB;

.logo {
  background: image-url("logo-small.png") no-repeat center;
  height: 150px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-indent: -9999px;
  h1 {
    margin: 0;
  }
  @include breakpoint(50em, $no-query) {
    background: image-url("logo.png") no-repeat center;
    height: 200px;
    margin-top: -2.5em;
    position: absolute;
  }
}

header {
  padding: 1.2em 0 1.2em;
  box-shadow: $shadow;
  position: relative;
  @include breakpoint(50em, $no-query) {
    padding: 4em 0 6.9em;
  }
}

.tagline-wrapper {
  background: white;
  margin-top: 1.15em;
  padding: .4em 0;
  h2 {
    border-top:     $border-thin;
    border-bottom:  $border-thin;
    color: $secondary;
    display: inline-block;
    font-size: .5em;
    padding: 1.5em 0;
    letter-spacing: -0.2em;
    text-transform: uppercase;
    &:before, &:after {
        display: none;
      }
  }
  @include breakpoint(18em, $no-query) {
    h2 {
      padding: .75em 0;
      font-size: .7em;
      letter-spacing: normal;
      &:before {
        display: inline;
        content: ">\00a0";
        color: $base;
      }
      &:after {
        display: inline;
        content: "\00a0<";
        color: $base;
      }
    }
  }
  @include breakpoint(50em, $no-query) {
    span {
      &.first-tag {
        margin-right: 20em;
      }
    }
  }
}

.intro {
  background: $secondary;
  border-top: 10px solid $base;
  font-size: 1em;
  padding: 1em 10%;
  margin: 0;
  p {
    margin: 0;
  }
  @include breakpoint(18em, $no-query) {
    font-size: 1.3em;
    margin: auto;
  }
  @include breakpoint(30em, $no-query) {
    padding: 1.5em 15%;
  }
  @include breakpoint(50em, $no-query) {
    font-size: 1.5em;
  }
}

@media (min-width: 80em) {
  .intro-linebreak {
    display: block;
  }
}