$border-thin: 1px solid #DBDBDB;

.logo {
  margin: 0 auto;
  position: relative;
  @media (min-width: 50rem) {
    height: 200px;
    width: 181px;
  }
  img {
    width: 181px;
    max-width: 9em;
    @media (min-width: 30rem) {
      max-width: none;
    }
    @media (min-width: 50rem) {
      position: absolute;
      left: 0;
    }
  }
}

header {
  padding: 1.2em 0 1.2em;
  box-shadow: $shadow;
  position: relative;
  @media (min-width: 50rem) {
    padding: 2em 0 6.9em;
  }
}

.tagline-wrapper {
  background: white;
  margin-top: 1.15em;
  padding: .4em 0;
  @media (min-width: 50rem) {
    margin-top: -9.15em;
  }
  h2 {
    border-top: $border-thin;
    border-bottom: $border-thin;
    color: $secondary;
    display: inline-block;
    font-size: .5em;
    padding: 1.5em 0;
    letter-spacing: -0.2em;
    text-transform: uppercase;
    &:before, &:after {
        display: none;
      }
  }
  @media (min-width: 18rem) {
    h2 {
      padding: .75em 0;
      font-size: .7em;
      letter-spacing: normal;
      &:before {
        display: inline;
        content: ">\00a0";
        color: $base;
      }
      &:after {
        display: inline;
        content: "\00a0<";
        color: $base;
      }
    }
  }
  @media (min-width: 50rem) {
    span {
      &.first-tag {
        margin-right: 20em;
      }
    }
  }
}

.intro {
  background: $secondary;
  border-top: 10px solid $base;
  font-size: 1em;
  padding: 1em 10%;
  margin: 0;
  p {
    margin: 0;
  }
  @media (min-width: 18rem) {
    font-size: 1.3em;
    margin: auto;
  }
  @media (min-width: 30rem) {
    padding: 1.5em 15%;
  }
  @media (min-width: 50rem) {
    font-size: 1.5em;
  }
}

.intro-linebreak {
  @media (min-width: 80rem) {
    display: block;
  }
}

.dang {
  display: none;
  border: 4px solid darken($secondary, 20%);
  position: fixed;
  color: darken($secondary, 25%);
  background: lighten($secondary, 20%);
  width: 15em;
  padding: 1em;
  font-size: .9em;
  margin-left: 3.7em;
  z-index: 2;
  transition: all .5s ease;
  @media (min-width: 120rem) {
    display: block;
  }
  a, a:hover, a:visited {
    color: darken($secondary, 25%);
  }
}

.dang:before {
  display: none;
  content: url("/img/big-screen-arrow.png") no-repeat center;
  position: absolute;
  margin-left: -11.7em;
  margin-top: 1.2em;
  transition: all .3s ease;
  @media (min-width: 118rem) {
    display: inline;
  }
}
