$border-thin: 1px solid #DBDBDB;

.logo {
  background: image-url("logo.png") no-repeat center;
  height: 200px;
  width: 100%;
  position: absolute;
  text-indent: -9999px;
  margin-top: -2.5em;
  h1 {
    margin: 0;
  }
  @include respond-to(max-width, 50em) {
    background: image-url("logo-small.png") no-repeat center;
    height: 150px;
    margin: 0 auto;
    position: relative;
  }
}

header {
  padding: 4em 0 5.3em;
  box-shadow: $shadow;
  position: relative;
  @include respond-to(max-width, 50em) {
    padding: 1.2em 0 1.2em;
  }
}

.tagline-wrapper {
  background: white;
  padding: 1em 0;
  h2 {
    border-top:     $border-thin;
    border-bottom:  $border-thin;
    color: $secondary;
    display: inline-block;
    font-size: .7em;
    padding: 1.5em 0;
    text-transform: uppercase;
    &:before {
      content: ">\00a0";
      color: $base;
    }
    &:after {
      content: "\00a0<";
      color: $base;
    }
  }
  span {
    &.first-tag {
      margin-right: 20em;
    }
  }
  @include respond-to(max-width, 50em) {
    margin-top: 1.15em;
    padding: .4em 0;
    h2 {
      padding: .75em 0;
    }
    span {
      &.first-tag, &.second-tag {
        border: none;
      }
      &.first-tag {
        margin: 0;
      }
    }
  }
  @include respond-to(max-width, 18em) {
    h2 {
      font-size: .5em;
      letter-spacing: -0.2em;
      &:before, &:after {
        display: none;
      }
    }
  }
}

.intro {
  background: $secondary;
  border-top: 10px solid $base;
  font-size: 1.5em;
  padding: 1.5em 15%;
  p {
    margin: 0;
  }
  @include respond-to(max-width, 50em) {
    clear: left;
    font-size: 1.3em;
    margin: 0;
    padding: 1em 10%;
  }
  @include respond-to(max-width, 18em) {
    font-size: 1em;
  }
}

@media (min-width: 80em) {
  .intro-linebreak {
    display: block;
  }
}