@mixin arrow-border($lr, $top) {
  border-left: $lr solid transparent;
  border-right: $lr solid transparent;
  border-top: $top solid $base;
}

@mixin respond-to($val, $query) {
  @media ($val: $query) {
    @content
  }
}