nav {
  text-align: center;
  margin-bottom: 1.3em;
  ul {
    @extend %list-reset;
  }
  li {
    display: inline;
    padding: 0 1%;
  }
  a {
    background: lighten($secondary, 40%);
    @include border-radius(.25em);
    color: $secondary;
    padding: 0.2em 0.4em;
    font-size: .7em;
    text-decoration: none;
    &:hover {
      background: #e8e8e8;
    }
    @include breakpoint(15em, $no-query) {
      padding: 0.4em 0.6em;
      font-size: .85em;
    }
  }
  @include breakpoint(30em, $no-query) {
    display: none;
  }
}