nav {
  text-align: center;
  margin-bottom: 1.3em;
  ul {
    @extend %list-reset;
  }
  li {
    display: inline;
    padding: 0 1%;
  }
  a {
    background: lighten($secondary, 40%);
    border-radius: 0.25em;
    color: $secondary;
    padding: 0.2em 0.4em;
    font-size: .7em;
    text-decoration: none;
    &:hover {
      background: #e8e8e8;
    }
    @media (min-width: 15rem) {
      padding: 0.4em 0.6em;
      font-size: .85em;
    }
  }
  @media (min-width: 30rem) {
    display: none;
  }
}
