nav {
  text-align: center;
  margin-bottom: 1.3em;
  ul {
    @extend %list-reset;
  }
  li {
    display: inline;
    padding: 0 1%;
  }
  a {
    background: #F0F0F0;
    @include border-radius(.25em);
    color: $secondary;
    padding: 0.4em 0.6em;
    text-decoration: none;
    font-size: .85em;
    &:hover {
      background: #e8e8e8;
    }
    @include respond-to(max-width, 15em) {
      padding: 0.2em 0.4em;
      font-size: .7em;
    }
  }
  @include respond-to(min-width, 30em) {
    display: none;
  }
}