h4 {
  font-size: 1em; }

.main .wrapper {
  position: relative; }

.banner {
  position: absolute;
  width: 100%; }

.banner p {
  max-width: 650px;
  margin: 0 auto; }

.swatches {
  float: left;
  width: 100%;
  padding: 7% 5% 5% 5%;
  margin: 0 auto;
  margin-top: 17em; }

.colors {
  padding-bottom: 0%; }

.colors li {
  width: 31%;
  height: 1em;
  padding-bottom: 15%; }